
$primary: #000000
$secondary: #E74C3C
$alterntive: #ECF0F1
$alterntive2: #3498DB
$alterntive3: #2980B9
$danger: $secondary
$link-hover: $secondary
$section-padding: 20px

@import '../node_modules/bulma/bulma'

.is-centered
  text-align: center

.inline-block
  display: inline-block

.small-padding
  padding: 5px

.left-right-margins
  margin: 0 10px

.large-margins
  margin: 15px

.full-width
  width: 100%

.fa-big
  font-size: 30px !important

.fa-huge
  font-size: 200px !important

.search-bar
  border-radius: 15px
  padding: 4px
  border-color: $primary
  box-shadow: none

.search-bar:focus
  outline: none

.large-buttons
  min-width: 600px
  min-height: 120px
  font-size: 30px
  border-radius: 15px

.medium-buttons
  min-width: 300px
  min-height: 80px
  font-size: 20px
  border-radius: 15px


li
  list-style: none

.hero
  .title
    padding-bottom: 20px
  .subtitle
    color: rgba(black, 0.5)

.title-bar
  margin-right: -20px
  margin-left: -20px

.profile-image
  border-radius: 50%
  margin-right: 10px

.selected-tag
  & h3
    color: white
  background-color: $primary
  color: white

.upvote-button
  border-radius: 1000px
  color:  $success
  padding: 10px

.downvote-button
  border-radius: 1000px
  color: $danger
  padding: 10px

.upvote-button:hover
  background-color: $success
  color:  $white
  padding: 10px

.downvote-button:hover
  background-color: $danger
  color:  $white
  padding: 10px

.left-right-buttons
  border-radius: 1000px
  color: $info
  padding: 10px

.left-right-buttons:hover
  background-color: $info
  color:  $white
  padding: 10px

// Grow element on hover
.grow
  display: inline-block
  vertical-align: middle
  -webkit-transform: perspective(1px) translateZ(0)
  transform: perspective(1px) translateZ(0)
  box-shadow: 0 0 1px transparent
  -webkit-transition-duration: 0.1s
  transition-duration: 0.1s
  -webkit-transition-property: transform
  transition-property: transform
  &:hover
    -webkit-transform: scale(1.06)
    transform: scale(1.06)

// Hover Content
.hover-container
  position: relative
.hover-content
  &.right
    justify-content: flex-end
  display: flex
  align-items: right
  flex-direction: row
  position: absolute
  width: 100%
  height: 100%
  top: 0
  left: 0
  color: black
  .display-on-hover
    display: none
    .control
      margin-right: 3px
  &:hover
    .display-on-hover
      display: flex

// Links
a
  &.underline-on-hover
    text-decoration: none
    &.is-underlined
      text-decoration: underline
    &.is-primary
      color: $primary
    &:hover
      text-decoration: underline


.channel-container
  +touch
    .divider
      display: none !important
  .product-container
    color: black

// Product Item
.like-button
  border-radius: 100px
.dislike-button
  border-radius: 100px

.channel-card
  padding: 0px
  border-radius: 4px
  overflow: hidden
  background-color: $primary
  position: relative
  height: 120px
  display: flex
  justify-content: center
  align-items: center
  background-position: center
  .channel-label
    color: white
    font-weight: bold
  .trending-label
    font-weight: bold
    background-color: white
    color: $primary
    padding: 6px
    border-radius: 1000px
    .trending-icon
      padding-right: 3px
  .hover-content
    padding: 10px
    display: flex
    justify-content: flex-end
    position: absolute
    width: 100%
    height: 100%
    top: 0
    left: 0
    color: black
    opacity: 1
    transition: transform 0.1s, opacity 0.1s
    .display-on-hover
      display: none
      .control
        margin-right: 3px
    &:hover
      background: rgba(white, 0.0)
      .display-on-hover
        display: flex
      .control
        margin-right: 12px
.voting-item
  height: 100%
  .box
    padding: 12px
  .image
    overflow: hidden
    img
      object-fit: contain
  .small
    height: 100%
    .box
      height: 100%
    .voting-button-container
      margin-top: 15px
    .title
      font-size: 1em
      font-weight: bold
      line-height: 1em
      height: 2em
      overflow: hidden
      flex-grow: 20
      margin: 0px
  .medium
    .title
      font-size: 1.4rem
    +touch
      .description
        display: none
        background: red !important
      .title
        font-size: 1.1rem
  .large
    .image
      border: 1px rgb(219, 219, 219) solid
      border-radius: 5px
    .voting-button-container
      margin-top: 12px
  .hover-content
    display: flex
    justify-content: flex-end
    align-items: stretch
    flex-direction: column
    position: absolute
    width: 100%
    height: 100%
    top: 0
    left: 0
    color: black
    opacity: 1
    transition: transform 0.1s, opacity 0.1s
    .display-on-hover
      display: none
      .control
        margin-right: 3px
    &:hover
      background: rgba(white, 0.8)
      .display-on-hover
        display: flex
      .control
        margin-right: 12px

.side-menu
  overflow: hidden
  min-width: 250px
  padding: 0px
  hr
    margin: 0px
  .label
    margin-left: 12px
    margin-top: 10px
    color: #7a7a7a
    font-size: 0.75em
    letter-spacing: 0.1em
    text-transform: uppercase
    font-weight: normal
  .search-input-container
    padding: 4px
    .input
      border: none
      box-shadow: none
  .search-results-container
    .search-results-message
      padding: 6px 12px
.item-link
  display: flex
  align-items: center

.user-row
  padding: 8px 14px
  .hover-content
    padding: 8px 14px
  .button
    width: 28px
    height: 28px
  .information-container
    display: grid
  .name
    font-weight: 500
    color: black
  .username
    color: black
  .profile-image
    width: 28px
    height: 28px
  &:hover
    background-color: #F5F5F5
  &.is-active
    background-color: #F5F5F5

.channel-row
  padding: 8px 14px
  .hover-content
    padding: 8px 14px
  .button
    width: 28px
    height: 28px
  .channel-name
    color: black
  .tag
    border-radius: 100px
    width: 28px
    height: 28px
    background-color: $primary
    color: white
    font-size: 1.0rem
    margin-right: 10px
  &:hover
    background-color: #F5F5F5
  &.is-active
    background-color: #F5F5F5
// Slideout
body
  width: 100%
  height: 100%

.slideout-menu
  position: fixed
  top: 0
  bottom: 0
  width: 256px
  min-height: 100vh
  overflow-y: scroll
  -webkit-overflow-scrolling: touch
  z-index: 0
  display: none

.slideout-menu-left
  left: 0

.slideout-menu-right
  right: 0

.slideout-panel
  position: relative
  z-index: 1
  will-change: transform
  background-color: #FFF /* A background-color is required */
  min-height: 100vh
  +desktop
    transform: none !important

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel
  overflow: hidden

.slideout-open .slideout-menu
  display: block

.navbar-burger
  &.left
    margin-left: 0px

#side
  border-right: 1px solid #DBDBDB

// Navigation Bar
.navbar-link
  color: black
.navbar-item
  color: black
.navigation
  color: black
.navbar-burger
  +desktop
    display: none
  +touch
    display: flex
    align-items: center
    justify-content: center

// Material Icons
.material-icons.md-16
  font-size: 16px
.material-icons.md-24
  font-size: 24px

//junk

body,
html
  width: 100%
  height: 100%


body
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif


hr
  max-width: 50px
  border-width: 3px
  border-color: #F05F40


hr.light
  border-color: #fff


a
  color: #F05F40
  -webkit-transition: all 0.2s
  -moz-transition: all 0.2s
  transition: all 0.2s


a:hover
  color: #f05f40


h1,
h2,
h3,
h4,
h5,
h6
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif


.bg-primary
  background-color: #F05F40 !important


.bg-dark
  background-color: #212529 !important


.text-faded
  color: rgba(255, 255, 255, 0.7)


section
  padding: 8rem 0


.section-heading
  margin-top: 0


::-moz-selection
  color: #fff
  background: #212529
  text-shadow: none


::selection
  color: #fff
  background: #212529
  text-shadow: none


img::selection
  color: #fff
  background: transparent


img::-moz-selection
  color: #fff
  background: transparent


#mainNav
  border-bottom: 1px solid rgba(33, 37, 41, 0.1)
  background-color: #fff
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif
  -webkit-transition: all 0.2s
  -moz-transition: all 0.2s
  transition: all 0.2s


#mainNav .navbar-brand
  font-weight: 700
  text-transform: uppercase
  color: #F05F40
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif


#mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover
  color: #f05f40


#mainNav .navbar-nav > li.nav-item > a.nav-link,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus
  font-size: .9rem
  font-weight: 700
  text-transform: uppercase
  color: #212529


#mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover
  color: #F05F40


#mainNav .navbar-nav > li.nav-item > a.nav-link.active,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active
  color: #F05F40 !important
  background-color: transparent


#mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active:hover
  background-color: transparent


//@media (min-width: 992px)
#mainNav
  border-color: transparent
  background-color: transparent

#mainNav .navbar-brand
  color: rgba(255, 255, 255, 0.7)

#mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover
  color: #fff

#mainNav .navbar-nav > li.nav-item > a.nav-link
  padding: 0.5rem 1rem

#mainNav .navbar-nav > li.nav-item > a.nav-link,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus
  color: rgba(255, 255, 255, 0.7)

#mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover
  color: #fff

#mainNav.navbar-shrink
  border-bottom: 1px solid rgba(33, 37, 41, 0.1)
  background-color: #fff

#mainNav.navbar-shrink .navbar-brand
  color: #F05F40

#mainNav.navbar-shrink .navbar-brand:focus, #mainNav.navbar-shrink .navbar-brand:hover
  color: #f05f40

#mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link,
#mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus
  color: #212529

#mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:hover,
#mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus:hover
  color: #F05F40


header.masthead
  padding-top: 10rem
  padding-bottom: calc(10rem - 56px)
  background-image: url("../src/assets/header.jpg")
  background-position: center center
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover


header.masthead hr
  margin-top: 30px
  margin-bottom: 30px


header.masthead h1
  font-size: 2rem


header.masthead p
  font-weight: 300


//@media (min-width: 768px)
header.masthead p
  font-size: 1.15rem


//@media (min-width: 992px)
header.masthead
  height: 100vh
  min-height: 650px
  padding-top: 0
  padding-bottom: 0

header.masthead h1
  font-size: 3rem


//@media (min-width: 1200px)
header.masthead h1
  font-size: 4rem


.service-box
  max-width: 400px


.portfolio-box
  position: relative
  display: block
  max-width: 650px
  margin: 0 auto


.portfolio-box .portfolio-box-caption
  position: absolute
  bottom: 0
  display: block
  width: 100%
  height: 100%
  text-align: center
  opacity: 0
  color: #fff
  background: rgba(240, 95, 64, 0.9)
  -webkit-transition: all 0.2s
  -moz-transition: all 0.2s
  transition: all 0.2s


.portfolio-box .portfolio-box-caption .portfolio-box-caption-content
  position: absolute
  top: 50%
  width: 100%
  transform: translateY(-50%)
  text-align: center

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name
  padding: 0 15px
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;


.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category
  font-size: 14px
  font-weight: 600
  text-transform: uppercase


.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name
  font-size: 18px


.portfolio-box:hover .portfolio-box-caption
  opacity: 1


.portfolio-box:focus
  outline: none


//@media (min-width: 768px)
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category
  font-size: 16px

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name
  font-size: 22px

.text-primary
  color: #F05F40 !important


.btn
  font-weight: 700
  text-transform: uppercase
  border: none
  border-radius: 300px
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif


.btn-xl
  padding: 1rem 2rem


.btn-primary
  background-color: #F05F40
  border-color: #F05F40


.btn-primary:hover, .btn-primary:focus, .btn-primary:active
  color: #fff
  background-color: #ee4b28 !important


.btn-primary:active, .btn-primary:focus
  box-shadow: 0 0 0 0.2rem rgba(240, 95, 64, 0.5) !important



